<div class="card-container">
    <a href="#">
        <img class="rounded-t-lg" [src]="cover" alt="course-cover" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-cpd-3">{{title}}</h5>
        </a>
        <p class="mb-3 font-normal  dark:text-gray-400">{{brief}}</p>
        <a href="#" class="card-btn">
            Explore Now
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
        </a>
    </div>
</div>