<div class="container mx-auto mt-5 p-5" *ngIf="user">
    <div class="flex items-center space-x-4">
        <img [src]="user.image" alt="User Avatar" class="w-36 h-36 mr-8 rounded-full ring-2 ring-darkSlateBlue">
        <div>
            <h2 class="text-3xl font-bold my-2">{{ user.fullName }}</h2>
            <p class="text-sm text-gray-500">{{ user.email }}</p>
            <p class="text-sm text-gray-500">{{ user.role }}</p>
        </div>
    </div>

    <div class="ml-8">

        <div class="mt-8">
            <h3 class="text-2xl font-semibold mb-4">About Me</h3>
            <span class="ml-10">
                {{ user.bio }}
            </span>
        </div>

        <div class="mt-8">
            <h3 class="text-2xl font-semibold mb-4">Statistics</h3>
        </div>

        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead
                    class="text-sm text-center text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Courses <span> {{ user.role === 'Student' ? 'Enrolled' : 'Created'}}</span>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Replies Made
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Posts Started
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white text-center border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{user.role === 'Student' ?  user.enrollments.length : user.courses.length}}
                        </th>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{user.replies.length}}
                        </th>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{user.posts.length}}
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>