<div class="container mx-auto mt-5 p-7 text-lg" *ngIf="discussion">
  <h1 class="text-3xl font-bold mb-10">{{discussion.title}}</h1>

  <!-- Post Section -->
  <div>
    <div class="flex items-center mb-4">
      <img class="w-16 h-16 rounded-full mr-4" [src]="discussion.user?.image" alt="Author Avatar">
      <div class="">
        <a [routerLink]="['/profile']" [queryParams]="{'id': discussion.user?.id}" class="hover:underline">
          <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">{{discussion.user?.fullName}}</h2>
        </a>
        <p class="text-gray-500">{{discussion.date | date:'medium'}}</p>
      </div>
    </div>
    <pre class="font-nunito m-7 whitespace-normal">{{discussion.content}}</pre>
  </div>
  <br>
  <hr>
  <div class="m-10">
    <div class="flex justify-between items-center">
      <h3 class="text-3xl font-semibold mb-10 mt-10">Replies ({{discussion.replies.length}})</h3>
    </div>
    <!-- Replies Section -->
    <div *ngFor="let reply of discussion?.replies">
      <div class="flex items-center mb-4">
        <img class="w-12 h-12 rounded-full mr-4" [src]="reply.user?.image" alt="Reply Author Avatar">
        <div>
          <a [routerLink]="['/profile']" [queryParams]="{'id': reply.user?.id}" class="hover:underline">
            <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">{{reply.user?.fullName}}</h2>
          </a>
          <p class="text-gray-500">{{reply.date | date:'medium'}}</p>
        </div>
      </div>
      <pre class="font-nunito m-7">{{reply.content}}</pre>
      <br>
      <hr> <br>
    </div>

    <!-- Comment Section -->
    <app-alert *ngIf="isEmptyComment" [title]="'Empty Comment'" [body]="'Cannot submit an empty comment.'"
      [type]="'danger'"></app-alert>
    <div class="bg-white p-6 dark:bg-gray-800 rounded-md shadow-md mt-10">
      <h2 class="text-2xl font-semibold mb-4">Add a Comment</h2>
      <form (ngSubmit)="addComment()" #commentForm="ngForm">
        <div class="mb-4">
          <label for="commentContent"
            class="block text-gray-800 dark:text-gray-200 text-sm font-bold mb-2">Comment:</label>
          <textarea id="commentContent" name="commentContent" [(ngModel)]="newComment"
            class="w-full h-20 px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300 dark:bg-gray-700 dark:border-gray-600"
            required></textarea>
        </div>
        <button type="submit"
          class="bg-darkSlateBlue text-white py-2 px-4 rounded-full hover:bg-blue-900 duration-500 focus:outline-none focus:ring focus:border-blue-300">
          Submit Comment
        </button>
      </form>
    </div>
  </div>
</div>