<!-- Course Display Page -->
<div *ngIf="course" class="container m-auto p-8 dark:text-cpd-3 text-gray-800 text-lg">
    <!-- Course Header Section -->
    <div class="flex flex-col md:flex-row justify-between items-start mb-8">
        <h1 class="text-3xl font-bold mb-5 uppercase">{{ course.title }}</h1>
        <button class="btn" (click)="enroll()">Enroll Now</button>
    </div>

    <!-- Course Preview Section -->
    <div class="flex flex-col mb-8 items-center">
        <!-- Video Player -->
        <video controls class="w-full md:w-1/2 h-auto rounded-md shadow-md">
            <source [src]="course.preview_url" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <!-- Course Information Section -->
    <div>
        <h2 class="text-xl font-semibold mb-4">Course Overview</h2>
        <p class="">{{ course.description }}</p>
    </div>


    <!-- Course Content Section -->
    <div class="mt-8">
        <h2 class="text-xl font-semibold mb-4">Course Contents</h2>
        <div class="flex flex-col gap-4">
            <!-- Assuming you have a courseModules array in your component -->
            <app-course-module *ngFor="let module of course.courseModules" [module]="module"></app-course-module>
        </div>
    </div>

    <br> <br>
    <hr>

    <!-- Instructor Section -->
    <div class="mt-8" *ngIf="course.instructor">
        <h2 class="text-xl font-semibold  mb-4">The Instructor</h2>
        <div class="flex items-center">
            <img [src]="course.instructor.image" alt="Instructor Avatar" class="w-16 h-16 rounded-full mr-4">
            <div>
                <h3 class="text-lg font-semibold hover:underline">{{ course.instructor.fullname }}</h3>
                {{ course.instructor.bio }}
            </div>
        </div>
    </div>
</div>