<!-- Course Study Page -->
<div class="container m-auto p-3 mt-8 text-gray-800 dark:text-cpd-3">
    <!-- Course Header Section -->
    <div class="flex flex-col sm:flex-row justify-between items-center mb-6">
        <h1 class="text-3xl font-bold mb-6">{{ course?.title }}</h1>
    </div>

    <!-- Course Progress -->
    <div class="mt-8">
        <h2 class="text-2xl font-bold mb-4">Your Course Progress</h2>
        <!-- Display a progress bar or percentage based on completed lessons/modules -->
        <div class="bg-gray-300 w-full h-3 rounded-full">
            <div [style.width.%]="progress" class="bg-darkSlateBlue h-full rounded-full"></div>
            <!-- Adjust the width based on progress -->
        </div>
        <p class=" mt-2">You've completed {{ progress }}% of the course.</p>
    </div>

    <!-- modules-lessons -->
    <div *ngIf="course" class=" mx-auto mt-8">
        <h2 class="text-3xl font-bold mb-4">Modules and Lessons</h2>
        <div *ngFor="let module of course.courseModules; let i = index" class="mb-6">
            <h3 class="text-xl font-semibold mb-2">Module {{ i + 1 }}: {{ module.title }}</h3>
            <ul>
                <li *ngFor="let lesson of module.lessons; let j = index" class="list-[square] ml-11">
                    <a [routerLink]="['/courses', course.id, 'studying']" [queryParams]="{'module' : i + 1, 'lesson': j + 1}"
                        class="text-blue-500 hover:underline">
                        Lesson {{ j + 1 }}: {{ lesson.title }}
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <h2 class="text-2xl font-bold mb-4 mt-8">Discussion Forum</h2>
    <div class="mt-2 flex">
        <!-- Add discussion forum components or integrate with an existing forum platform -->
        <a [routerLink]="['/courses/', course?.id, 'posts']"
            class="hover:text-gray-600 duration-500 underline mr-2">Join</a> the discussion with other
        participants to ask questions and share insights related
        to this course.
    </div>

</div>